<div class="content">
  <h4><i class="fa fa-id-badge" aria-hidden="true"></i> Your boards</h4>

  <div class="boards-rectangle">
    <div class="boards-title">
      <div>
        <span ng-hide="addMode">
          <i ng-click="toggleAdd()" class="fa fa-plus fa-2x" aria-hidden="true"></i>
        </span>
        <span ng-show="addMode">
          <input class="boards-input" type="text" name="" placeholder="board title" ng-model="newBoardTitle" required>
          <br/>
          <i class="fa fa-check" aria-hidden="true" ng-click = "addBoard(newBoardTitle)"></i>
          <i class="fa fa-times" aria-hidden="true" ng-click="toggleAdd()"></i>
        </span>
      </div>
    </div>
  </div>  

  <div ng-repeat="b in boards">
    <div class="boards-rectangle">
      <div class="boards-title">
        <div><span>{{b.title}}</span></div>
      </div>
    </div>
  </div>
  
</div>
