<div class="pin-board">
  <div ng-repeat="l in lists" ng-controller="CardsCtrl">
    <div class="box list">
      <p>{{l.name}} <i ng-click="deleteList(l)" class="fa fa-trash-o trash-li" aria-hidden="true"></i></p>
      <ul class="sticky">
        <li ng-repeat="c in l.cards">
          <a class="nested-element" href="#">
            <h4>{{c.title}}</h4>
            <i ng-click="deleteCard(c, l)" class="fa fa-trash-o trash-c" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <p class="nested-element">
            <input class="sticky-input" ng-model="newCardTitle" placeholder="new card ...">
            <i ng-click="addCard(newCardTitle, l)" class="fa fa-plus" aria-hidden="true"></i>
          </p>
        </li>
      </ul>
  </div>
  </div>
  <div class="box">
    <h3>New list:</h3>
    <input class="element-input" ng-model="newListName" placeholder="put down the name">
    <div class="save-btn" ng-click="addList(newListName)">Save</div>
  </div>
  <div style="clear: both;"></div>
</div>
