<header>
  <div class="title">
    <h1>Your notes, plans, inspirations: everything at once!</h1>
    <p>Forget about lost notes, heavy book calendars and keep everything inspiring you in one place. Join us and see how easy it is. </p>
  </div>
</header>

<main>
  <h2>How does it work?</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa facilis, labore debitis nesciunt ipsam odio corporis architecto reiciendis voluptas ab quibusdam ratione rerum tempore voluptatibus libero cumque dignissimos vero hic!</p>
</main>
